<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <!-- Favicon -->
    <link rel="icon" href="/assets/favicon.svg" type="image/svg+xml">

    <!-- Primary Meta Tags -->
    <meta name="title" content="Make Minnesota">
    <meta name="description" content="A directory of resources for Minnesota makers of all sorts.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://makeminnesota.org/">
    <meta property="og:title" content="Make Minnesota">
    <meta property="og:description" content="A directory of resources for Minnesota makers of all sorts.">
    <meta property="og:image" content="https://makeminnesota.org/assets/images/headshot.jpg">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="https://makeminnesota.org/">
    <meta name="twitter:title" content="Make Minnesota">
    <meta name="twitter:description" content="A directory of resources for Minnesota makers of all sorts.">
    <meta name="twitter:image" content="https://makeminnesota.org/assets/images/headshot.jpg">

    <link rel="stylesheet" href="/assets/css/main.css">
</head>